<!-- ! Main -->
<%-include('navbar.ejs')%>
<style>
    i{
        font-size: 25px;
    }
</style>
    <div class="container">
        <h2 class="main-title">Dashboard</h2>
        
        <div class="row stat-cards">
            <div class="col-md-6 col-xl-3" >
                <a href="/allcustomer">

                <article class="stat-cards-item">
                    <div class="stat-cards-icon primary">
                      <i class="fa fa-users"></i>
                    </div>
                    <div class="stat-cards-info">
                        <p class="stat-cards-info__num fs-4"><%=ttl.ttlcount%></p>
                        <p class="stat-cards-info__title">Total Customers</p>
                       
                    </div>
                </article>
                </a>
            </div>
            <div class="col-md-6 col-xl-3">
                <a href="/parties">
                <article class="stat-cards-item">
                    <div class="stat-cards-icon warning">
                        <i class="fa-solid fa-user-tie"></i>
                    </div>
                    <div class="stat-cards-info">
                        <p class="stat-cards-info__num fs-4"><%=ttp.ttlparty%></p>
                        <p class="stat-cards-info__title">Total Parties</p>
                       
                    </div>
                </article>
            </a>
            </div>


            <div class="col-md-6 col-xl-3">
               <a href="/todays-sells">
                <article class="stat-cards-item">
                    <div class="stat-cards-icon purple">
                        <i  class="fa fa-money-bills"></i>
                    </div>
                    <div class="stat-cards-info">
                        <p class="stat-cards-info__num">&#8377; <%-ttl_sell%></p>
                        <p class="stat-cards-info__title">Todays sell</p>
                     
                    </div>
                </article>
            </a>
            </div>


            <div class="col-md-6 col-xl-3">
                <a href="/todays-expense">

               
                <article class="stat-cards-item">
                    <div class="stat-cards-icon success">
                        <i class="fa-solid fa-comments-dollar"></i>
                    </div>
                    <div class="stat-cards-info">
                        <p class="stat-cards-info__num">&#8377; <%-ttl_exp%></p>
                        <p class="stat-cards-info__title">Todays expense</p>
                 
                    </div>
                </article>
            </a>
            </div>
        </div>
        <div class="row">
            <canvas id="myChart" style="width:100%;max-width:600px"></canvas>
        </div>

    </div>
  
<script>
    const xValues = [50,60,70,80,90,100,110,120,130,140,150];
    const yValues = [7,8,8,9,9,9,10,11,14,14,15];
    
    new Chart("myChart", {
      type: "line",
      data: {
        labels: xValues,
        datasets: [{
          fill: false,
          lineTension: 0,
          backgroundColor: "rgba(0,0,255,1.0)",
          borderColor: "rgba(0,0,255,0.1)",
          data: yValues
        }]
      },
      options: {
        legend: {display: false},
        scales: {
          yAxes: [{ticks: {min: 6, max:16}}],
        }
      }
    });
    </script>
    <%-include('footer.ejs')%>